# Explicit requirements for ReadTheDocs.
# Please keep this up to date with your dependencies in the `docs` group.
jinja2<3.1.0  # Needed to resolve a bug with ReadTheDocs
mkdocs
mkdocs-material
mkdocstrings[python]
